:root {
	--text: #1C2A39;
	--text-grey: #5C6A79;
	--button: #4C3DB2;
	--yellow: #F2C94C;
	--pink: #FF8FE6;
	--pink-active: #f04ACC;
	--purple: #d3d0f6;
	--deep-purple: #dcdbeb;
	--purple-active: #6E66C9;
	--purple-bg: #EFEEF6;

}
